<a href="https://colab.research.google.com/github/rishcodes/Data-Cleaning/blob/main/sales_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import pandas as pd

path = "/content/sample_sales_data.csv"

data = pd.read_csv(path)

print(data.head())

   Unnamed: 0                        transaction_id            timestamp  \
0           0  a1c82654-c52c-45b3-8ce8-4c2a1efe63ed  2022-03-02 09:51:38
1           1  931ad550-09e8-4da6-beaa-8c9d17be9c60  2022-03-06 10:33:59
2           2  ae133534-6f61-4cd6-b6b8-d1c1d8d90aea  2022-03-04 17:20:21
3           3  157cebd9-aaf0-475d-8a11-7c8e0f5b76e4  2022-03-02 17:23:58
4           4  a81a6cd3-5e0c-44a2-826c-aea43e46c514  2022-03-05 14:32:43

                             product_id category customer_type  unit_price  \
0  3bc6c1ea-0198-46de-9ffd-514ae3338713    fruit          gold        3.99
1  ad81b46c-bf38-41cf-9b54-5fe7f5eba93e    fruit      standard        3.99
2  7c55cbd4-f306-4c04-a030-628cbe7867c1    fruit       premium        0.19
3  80da8348-1707-403f-8be7-9e6deeccc883    fruit          gold        0.19
4  7f5e86e6-f06f-45f6-bf44-27b095c9ad1d    fruit         basic        4.49

   quantity  total payment_type
0         2   7.98     e-wallet
1         1   3.99     e-wallet
2         2   0.38     e-wallet
3         4   0.76     e-wallet
4         2   8.98   debit card

In [7]:
data.describe()

        Unnamed: 0   unit_price     quantity        total
count  7829.000000  7829.000000  7829.000000  7829.000000
mean   3914.000000     7.819480     2.501597    19.709905
std    2260.181962     5.388088     1.122722    17.446680
min       0.000000     0.190000     1.000000     0.190000
25%    1957.000000     3.990000     1.000000     6.570000
50%    3914.000000     7.190000     3.000000    14.970000
75%    5871.000000    11.190000     4.000000    28.470000
max    7828.000000    23.990000     4.000000    95.960000

In [9]:
data.columns

Index(['Unnamed: 0', 'transaction_id', 'timestamp', 'product_id', 'category',
       'customer_type', 'unit_price', 'quantity', 'total', 'payment_type'],
      dtype='object')

In [10]:
data.columns

Index(['Unnamed: 0', 'transaction_id', 'timestamp', 'product_id', 'category',
       'customer_type', 'unit_price', 'quantity', 'total', 'payment_type'],
      dtype='object')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7829 entries, 0 to 7828
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      7829 non-null   int64
 1   transaction_id  7829 non-null   object
 2   timestamp       7829 non-null   object
 3   product_id      7829 non-null   object
 4   category        7829 non-null   object
 5   customer_type   7829 non-null   object
 6   unit_price      7829 non-null   float64
 7   quantity        7829 non-null   int64
 8   total           7829 non-null   float64
 9   payment_type    7829 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 611.8+ KB